
	body {
	  margin: 0;
	  color: white;
	  padding-top: 673px;
	  background-color: white;
	}
	nav {
		background-color: #233e76;
		height: 40px;
		font-size: 0.6em;
	}
	a {
	  color: #888;
	  text-decoration: underline;
	}

	h1, h2, h3 {
		color: #bd1f35;
		font-family: 'bebas_neueregular';
	}
	header {
	  padding-top: 0;
	  margin: 0;
	  background: #bd1f35;
	  width: 100%;
	}
	
	.main-nav,
	.main {
	  position: relative; 
	  width: 100%;
	  color: black;
	  background-color: white;
	}
	
	.main-nav {
		position: relative;
		top: -50px;
	  z-index: 150;
	  text-align: center;
	  font-size: 1.8em;
	  margin-bottom: -80px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.4);
	}
	.main-nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 10px;
	}
	.main-nav ul li {
		padding: 0px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 3px;
		display: inline;
		margin: 0;
		border: 0px solid white;
		overflow: hidden;
	}
	.main-nav ul li:HOVER {
		background-color: #bd1f35;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
	.main-nav ul li a {
		color: #FFF;
		position: relative;
		top: -1px;
	  text-decoration: none;
	  font-size: 16pt;
	  font-family: myriad pro;
	}
	.text-regular {
		font-family: 'bebas_neuebold';
	}
	.icon {
		position: relative;
		top: 8px;
		width: 40px;
	}
	#calender {
		text-align: center; 
	  
	}
	#livestream {
		text-align: center; 
	  
	}
	#slide-wrapper {
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
	}
	#top-full-splash {
		position: relative;
		top: 100px;
		max-width: 100%;
		height: auto;
	}
	#senate-logo-div {
		position: absolute;
		width: 100%;
/* 
		left: 50%;	
 */
	}
	#senate-logo {
		position: relative;
		margin: 0 auto;
		width: 50%;
		left: 25%;
		z-index: 149;
		
	}
	#asua-logo {
		position: absolute;
		right: 0px;
		top: 0px;
		height: 70px;
		margin: 15px 15px 0 0;
	}
	.slide-header {
		overflow: hidden;
		width: 100%;
		background-color: transparent;
	}
	#slide-images {
		position: relative;
		opacity: 0;
		width: 100%;
		height: 102px;
		background-color: #bd1f35;
	}
	.slideimg-senate{
		position: absolute;
		left: 0;
		height: 70px;
		margin: 15px 0 0 15px;
	}
	.slideimg-asua{
		position: absolute;
		right: 0;
		top: 0;
		height: 70px;
		margin: 15px 15px 0 0;
	}
	header,
	.main-nav-scrolled {
	  position: fixed;
	  width: 100%;
	  top: 0;
	}
	.main {
		position:relative;
		z-index: 149;
	  background: black;
	  padding: 50px 0px 50px;
	  column-count: 2;
/* 	  column-gap: 40px; */
	  font-family: Verdana;
		background-image: url("../images/our-impact-background.png");
		background-repeat: repeat;
	}
	.main-article {
		width: 95%;
		padding: 25px 15px 25px 15px;
		font-family: Myriad pro;
	}

	/* format footer section */
	footer {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		background-color: #3a3a3a;
		height: 100px;
		font-size: 0.8em;
	}
	
	@media only screen and (max-width : 605px) {
		#asua-logo {
			height: 30px;
		}
		.main-nav ul li a {
			color: #FFF;
			position: relative;
			top: -1px;
			text-decoration: none;
			font-size: 11pt;
			font-family: myriad pro;
	}
		.main-nav ul li {
			padding: 0px;
			padding-left: 2px;
			padding-right: 2px;
			padding-top: 2px;
			padding-bottom: 1px;
			display: inline;
			margin: 0;
			border: 0px solid white;
			overflow: hidden;
		}
	}

	.left-content{
		position: absolute;
		width: 27%;
		font-size: 1.3em;
		margin-left: 20%;
		line-height: 130%;
	}
	
	.right-content{
		float: right;
		font-size: 1.2em;
		width: 30%;
		margin-right: 15%;
	}

	.social-media p{
		margin-bottom: 10px;
		font-size: 1.1em;
	}

	.icon-square{
		display: inline-block;
		margin-right: 5px;

	}

	.icon-square .fa-facebook{
		border-radius: 5px;
		background-color: #3b5998;
		height: 30px;
		width: 25px;
		text-align: center;
		padding-top: 5px;
	}

	.icon-square .fa-twitter{
		border-radius: 5px;
		background-color: #00aced;
		height: 25px;
		width: 10px;
		text-align: center;
		padding-top: 5px;
		padding-right: 20px;
		padding-bottom: 5px;
	}


	.icon-square i{
		
		font-size: 2em;
		color: #fff;
		padding-left: 10px;

	}
	
	#mugshots{
		width: 100%;
	}
	
	#mugshots tr td {
		text-align:center; 
		vertical-align: middle;
		height: 90%;
	}
	
	#mugshots tr td img{
		margin: -3px 0 0 0;
		width: 100%;
		height: 90%;
	}
	#mugshots tr td img:HOVER{
		width: 98%;
		border: solid 3px grey;
	}
	
	.popup {
		width: 50%;
		height: auto;
		overflow: visible;
	}
	
	.content {
		background: white;
		width: 100%;
		height: 100%;
		color: purple;
		padding: 20px;
		overflow: auto;
	}
	
	.popup_mugshot {
		height: 150px;
		width: 150px;
		float: left;
	}
	
	.popup_close {
		height: 50px;
		width: 50px;
		position: absolute;
		top: -25px;
		left: 100%;
	}
	
	.popup_info {
		text-align: center;
		height: 150px;
	}
	

	






