
	
	body {
	  margin: 0;
	  color: white;
	  padding-top: 673px;
	  background-color: white;
	}
	nav {
		background-color: #233e76;
		height: 40px;
		font-size: 0.6em;
	}
	a {
	  color: white;
	}
	header {
	  padding-top: 0;
	  margin: 0;
	  background: #bd1f35;
	  width: 100%;
	}
	.main-nav,
	.main {
	  position: relative; 
	  width: 100%;
	  color: black;
	  background-color: white;
	}
	.main-nav {
		position: relative;
		top: -50px;
		color: white;
	  z-index: 150;
	  text-align: center;
	  font-size: 1.8em;
	  margin-bottom: -80px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.4);
	}
	.main-nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 10px;
	}
	.main-nav ul li {
		padding: 0px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 1px;
		padding-bottom: 1px;
		display: inline;
		margin: 0;
		border: 0px solid white;
		overflow: hidden;
	}
	.main-nav ul li:HOVER {
		background-color: #bd1f35;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
	.main-nav ul li a {
		position: relative;
		top: -1px;
	  text-decoration: none;
	  font-size: 14pt;
	  font-family: myriad pro;
	}

	#slide-wrapper {
		position: absolute;
		width: 100%;
	}
	#top-full-splash {
		position: relative;
		top: 100px;
		width: 100%;
		height: auto;
	}
	#senate-logo-div {
		position: absolute;
		left: 50%;	
	}
	#senate-logo {
		position: relative;
		margin: 0 auto;
		width: 530px;
		left: -280px;
		z-index: 149;
		
	}
	#asua-logo {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 120px;
	}
	.slide-header {
		overflow: hidden;
		width: 100%;
		background-color: #bd1f35;
	}
	#slide-images {
		position: relative;
		display:none;
		width: 100%;
		height: 60px;
		background-color: #bd1f35;
	}
	.slideimg-senate{
		position: absolute;
		left: 0;
		height: 50px;
	}
	.slideimg-asua{
		position: absolute;
		right: 0;
		top: 0;
		height: 50px;
	}
	header,
	.main-nav-scrolled {
	  position: fixed;
	  width: 100%;
	  top: 0;
	}
	.main {
		position:relative;
		z-index: 149;
	  background: white;
	  padding: 50px 0px 50px;
	  column-count: 2;
/* 	  column-gap: 40px; */
	  font-family: Verdana;
	}


